.tbl_head {
    text-align: center;
}

.td_data_month {
    text-align: center;
}

.td_data_sum {
    text-align: right;
}

.td_data_ammount {
    text-align: right;
}

.diagram {
    display: flex;
    flex-direction: row;
}

.diagram div {
    width: 50%;
}