<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- <link th:href="@{/css/design_debug.css}" rel="stylesheet" /> -->
        <link th:href="@{/css/category_master.css}" rel="stylesheet" />
        <script src="https://unpkg.com/vue@2.7.16"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <title>出費管理</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body class="container">
        <a href="/">トップへ戻る</a>
        <!-- ◆ 入力フォーム ◆ -->
        <div id='app'>
            <div>
                <form class="registerForm" action="category_update" method="POST">
                    <div class="inputPart">
                        <div>
                            <Label for="txt_enable">有効:</Label>
                            <input id="txt_enable" type="checkbox"></input>
                        </div>
                        <div>
                            <Label for="txt_id">ID:</Label>
                            <input id="txt_id" type="text" readonly></input>
                        </div>
                    </div>
                    <div class="inputPart">
                        <div>
                            <Label for="select_type">種別:</Label>
                            <select id="select_type">
                                <option value="0">固定費</option>
                                <option value="1">変動費</option>
                            </select>
                        </div>
                        <div>
                            <Label for="txt_name">カテゴリ名:</Label>
                            <input id="txt_name" type="text"></input>
                        </div>
                    </div>
                    <div class="inputPart">
                        <div>
                            <Label for="txt_sort_order">並び順:</Label>
                            <input id="txt_sort_order" type="number"></input>
                        </div>
                        <div>
                            <Label for="txt_note">備考:</Label>
                            <input id="txt_note" type="text"></input>
                        </div>
                    </div>
                    <div class="inputPart">
                        <div>
                            <Label for="txt_create_at">作成日時:</Label>
                            <input id="txt_create_at" type="text" readonly></input>
                        </div>
                        <div>
                            <Label for="txt_update_at">更新日時:</Label>
                            <input id="txt_update_at" type="text" readonly></input>
                        </div>
                    </div>
                    <div class="buttonPart">
                        <div class="buttonFrame">
                            <button type="button" @click="onPush_New()">新規</button>
                        </div>
                        <div class="buttonFrame">
                            <button type="button" @click="onPush_Submit()">更新</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- ◆ 検索結果 ◆ -->
            <div>
                <table>
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>種別</td>
                            <td>カテゴリ名</td>
                            <td>備考</td>
                            <td>並び順</td>
                            <td>有効</td>
                            <td>作成日</td>
                            <td>更新日</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="data in list" @click="onClick_Table(data)">
                            <td>{{data.id}}</td>
                            <td>{{data.type}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.note}}</td>
                            <td>{{data.sortOrderNo}}</td>
                            <td>{{data.enable}}</td>
                            <td>{{data.createAt}}</td>
                            <td>{{data.updateAt}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script type="text/javascript">

        var app = new Vue({
          el: '#app',
          data: {
            list: []
          },
          methods: {
              getUpdate: async function() {
                var url = "categories"
                await axios.get(url)
                .then(x => {
                    this.list = x.data
                }).catch(err => {
                    // TODO: エラー処理
                })
              },
              onPush_New: function() {
                  document.getElementById("txt_id").value = ""
                  document.getElementById("txt_name").value = ""
                  document.getElementById("select_type").selectedIndex = 0
                  document.getElementById("txt_sort_order").value = 0
                  document.getElementById("txt_note").value = ""
                  document.getElementById("txt_create_at").value = ""
                  document.getElementById("txt_update_at").value = ""
              },
              onPush_Submit: async function() {
                  var url = "category_update"
                  await axios.post(url,{
                      is_enable: document.getElementById("txt_enable").checked,
                      id: document.getElementById("txt_id").value,
                      type: document.getElementById("select_type").value,
                      name: document.getElementById("txt_name").value,
                      note: document.getElementById("txt_note").value,
                      sort_order: document.getElementById("txt_sort_order").value,
                      create_at: document.getElementById("txt_create_at").value,
                      update_at: document.getElementById("txt_update_at").value
                  }).then(x => {
                      location.reload()
                  })
              },
              onClick_Table: function(obj) {
                  document.getElementById("txt_id").value = obj.id
                  const dataValue = obj.type
                  const selectBox = document.getElementById("select_type")
                  for(const option of selectBox.options) {
                      if(option.value == dataValue) {
                          option.selected = true
                      }
                  }
                  document.getElementById("txt_name").value = obj.name
                  document.getElementById("txt_note").value = obj.note
                  document.getElementById("txt_sort_order").value = obj.sortOrderNo
                  if(obj.enable == true) {
                      document.getElementById("txt_enable").checked = true
                  } else {
                      document.getElementById("txt_enable").checked = false
                  }
                  document.getElementById("txt_create_at").value = obj.createAt
                  document.getElementById("txt_update_at").value = obj.updateAt
              }
          },
          beforeMount() {
              this.getUpdate()
          }
        })
        </script>
    </body>
</html>
