<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link th:href="@{/css/design_debug.css}" rel="stylesheet" />
        <link th:href="@{/css/edit.css}" rel="stylesheet" />
        <script src="https://unpkg.com/vue@2.7.16"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <title>出費管理</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body class="container">
        <a href="/">トップへ戻る</a>
        <div id='app'>
            <!-- 編集画面 -->
            <form id="registerForm" action="expenditure_update" method="POST">
                <div>
                    <label for="txt_id">ID:</label>
                    <input type="text" id="txt_id" />
                </div>
                <div>
                    <label for="date_register">登録日:</label>
                    <input type="date" id="date_register"/>
                </div>
                <div>
                    <label for="select_category">カテゴリ:</label>
                    <select id="select_category">
                        <th:block th:each="data:${categoryMaster}">
                            <option th:value="${data.id.id}" th:text="${data.name}"></option>
                        </th:block>
                    </select>
                </div>
                <div>
                    <label for="txt_ammount">金額:</label>
                    <input id="txt_ammount" type="number" />
                </div>
                <div>
                    <label for="txt_note">備考:</label>
                    <input id="txt_note" type="text"/>
                </div>
                 <div class="buttonFrame">
                     <button type="button" @click="register()">登録</button>
                 </div>
                 <div class="buttonFrame">
                     <button type="button" @click="blank()">新規</button>
                 </div>
            </form>
            <!-- 絞り込み画面 -->
            <div>
                <form id="filterForm" action="expenditure_filter" method="POST">
                    <select id="select_year">
                        <th:block th:each="year:${yearSelect}">
                        <option th:value="${year}" th:text="${year}"></option>
                        </th:block>
                    </select>
                    <select id="select_month">
                        <th:block th:each="month:${monthSelect}">
                        <option th:value="${month}" th:text="${month} " th:selected="${month == currentMonth}"></option>
                        </th:block>
                    </select>
                    <button type="button" @click="filter()">フィルター</button>
                </form>
            </div>
            <!-- リスト -->
            <div>
                <Table id="tbl_result">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>日付</td>
                            <td>カテゴリ</td>
                            <td>金額</td>
                            <td>備考</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr @click="select(item)" v-for="(item,key) in expenditures">
                            <td> {{item.id}} </td>
                            <td> {{item.date}} </td>
                            <td> {{item.category_name}} </td>
                            <td> {{item.ammount}} </td>
                            <td> {{item.note}} </td>
                        </tr>
                    </tbody>
                </Table>
            </div>
        </div>
        <script type="text/javascript">

        var app = new Vue({
          el: '#app',
          data: {
            expenditures: []
          },
          methods: {
            window:onload = function() {
              //this.filter();
            },
            filter: async function() {
                var url = "/expenditure_filter"
                await axios.post(url,{
                    year: document.getElementById("select_year").value,
                    month: document.getElementById("select_month").value
                }).then(x => {
                    this.expenditures = x.data
                })
            },
            select: function(obj) {
                document.getElementById("txt_id").value = obj.id;
                document.getElementById("date_register").value = obj.date;
                document.getElementById("select_category").value = obj.category_id;
                document.getElementById("txt_ammount").value = obj.ammount;
                document.getElementById("txt_note").value = obj.note;
            },
            blank: function() {
                document.getElementById("txt_id").value = "";
                document.getElementById("date_register").value = "";
                document.getElementById("select_category").selectIndex = 1;
                document.getElementById("txt_ammount").value = "";
                document.getElementById("txt_note").value = "";
            },
            register:async function() {
                var url = "expenditure_update"
                await axios.post(url,{
                    id: document.getElementById("txt_id").value,
                    date: document.getElementById("date_register").value,
                    category: document.getElementById("select_category").value,
                    ammount: document.getElementById("txt_ammount").value,
                    note: document.getElementById("txt_note").value
                }).then(x => {
                    this.filter();
                })
            }
          }
        })
        </script>
    </body>
</html>
